body {
    background-image: url(./Imagenes/fondo.jpg);
    background-size: cover;
}
header {
    border-radius: 4%;
    text-align: center;
    background-color: rgb(245, 158, 91);
}
div {
    border-radius: 5%;
    background-color: rgb(245, 158, 91);
    height: auto;
    width: 200px;
    font-size: larger;
}

div > h2{
    text-align: center;
}

#enlaces {
    list-style-type: none;
}

form {
    text-align: center;
}